.popupTitle {
    /* background-color: #0000FF; */
    border-radius: 4px 4px 0px 0px;
    font-weight: 700;
    font-size: medium;
    color: ivory;
    padding: 10px;
}

.popupInfo {
    font-weight: 400;
    font-size: 14px;
    padding: 10px;
}

.popupLabel {
    font-weight: bold;
}

.popupWebUrl {
    color: dodgerblue;
}

.popupWebUrl:active,
.popupWebUrl:focus {
    outline: 0;
}